/*
    reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:hover {
    text-decoration: none;
}


/*
    global
*/

@font-face {
    font-family: 'sans-regular';
    src: url('../fonts/OpenSansRegular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans-light';
    src: url('../fonts/OpenSansLight.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans-bold';
    src: url('../fonts/OpenSansBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sans-extra-bold';
    src: url('../fonts/OpenSansExtraBold.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'sans-regular', sans-serif;
}
.container {
    position: relative;
    margin: 0 auto;
    width: 1140px;
}

h1, h2, h3, h4, h5, h6,
.reade-more, .date-top {
    font-family: 'sans-bold', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

p {
    font-size: 15px;
    line-height: 30px;
}

/*
    header
*/
.header-block {
    overflow: hidden;
    margin: 90px auto 77px;
}

a.logo {
    display: block;
    float: left;
    width: 178px;
    height: 40px;
    background: url("../images/logo.png") 0 0 no-repeat;
}

.header-menu {
    float: right;
}
    .header-menu li {
        display: inline-block;
    }
    .header-menu a {
        display: inline-block;
        margin-left: 44px;
        padding-bottom: 10px;
        font-size: 20px;
        font-family: 'sans-bold',sans-serif;
        color: #000;
        text-transform: uppercase;
    }
    .header-menu a:hover {
        border-bottom: 5px solid #000;
    }

/*
    main content
*/

main .container:after {
    content: "free psd template avaliable od symu.co";
    position: absolute;
    right: -258px;
    top: 1718px;
    width: 426px;
    height: 19px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'sans-light', sans-serif;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.free-template {
    display: table-cell;
    width: 1140px;
    height: 550px;
    vertical-align: middle;
    background: url("../images/top-1.jpg") 0 0 no-repeat;
}
    .free-template:before {
        content: "enjoy the pleasure";
        position: absolute;
        padding: 0 0 0 37px;
        left: -177px;
        top: 386px;
        width: 226px;
        height: 19px;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'sans-light', sans-serif;
        background: url("../images/round-box.jpg") 0 0 no-repeat;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }

    .free-template h1 {
        margin-top: -22px;
        padding: 0 20%;
        font-size: 90px;
        font-family: 'sans-extra-bold', sans-serif;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        line-height: 97px;
    }

.content-1 {
    overflow: hidden;
    margin: 70px 0 66px;
}

    .date-top {
        display: block;
        margin-bottom: 7px;
        text-align: right;
        font-size: 25px;
    }

    .content-1 .img-block {
        position: relative;
        float: right;
        width: 540px;
        height: 260px;
    }

    .content-1 .img-block:before {
        content: " ";
        display: inline-block;
        position: absolute;
        top: 115px;
        left: -173px;
        width: 287px;
        height: 88px;
        background: url("../images/lines-img.png") 0 0 no-repeat;
        z-index: 100;
    }

    .content-1 img {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .content-1 .text-block {
        float: left;
        width: 390px;
    }

    .content-1 .text-block h3 {
        margin: -9px 0 22px -5px;
        font-size: 60px;
        text-transform: uppercase;
        line-height: 70px;
    }

    .content-1 .text-block p {
        margin-bottom: 28px;
    }

    a.reade-more {
        color: #000;
        font-size: 20px;
    }


.content-2 {
    overflow: hidden;
    margin-bottom: 85px;
}

    .content-2-left,
    .content-2-right {
        width: 540px;
    }

    .content-2-left {
        float: left;
    }

    .content-2-left .date-top {
        text-align: left;
    }

    .content-2-left h2 {
        padding-top: 147px;
        font-family: 'sans-extra-bold', sans-serif;
        font-size: 79px;
        letter-spacing: 8px;
        text-transform: uppercase;
        line-height: 87px;
    }

    .content-2-left .img-block {
        position: relative;
        width: 542px;
        height: 587px;
    }

    .content-2-left .img-block:after {
        content: " ";
        display: inline-block;
        position: absolute;
        bottom: -372px;
        left: 66px;
        width: 440px;
        height: 540px;
        background: url("../images/transparent-img1.png") 0 0 no-repeat;
        z-index: -1;
    }

    .content-2-right {
        float: right;
        position: relative;
        padding-top: 25px;
    }



    .content-2-right:before {
        content: "";
        position: absolute;
        background: #f6f6f6;
        width: 527px;
        height: 162px;
        left: -59px;
        top: 108px;
        z-index: -1;
    }

    .content-2-right h3 {
        float: right;
        margin-bottom: 56px;
        width: 360px;
        font-size: 40px;
        text-align: right;
        text-transform: uppercase;
        line-height: 40px;
    }

    .content-2-right h3 span {
        display: inline-block;
        font-size: 60px;
        margin-top: 25px;
    }

    .content-2-right p {
        margin-bottom: 35px;
        width: 504px;
        height: 115px;
        overflow: hidden;
    }

    .content-2-right .date-top {
        margin-top: 32px;
    }

.sign-up {
    display: table-cell;
    width: 1140px;
    height: 260px;
    text-align: center;
    background: url("../images/top-5.jpg") 0 0 no-repeat;
    vertical-align: middle;
}

    .sign-up h3 {
        margin-bottom: 24px;
        padding-top: 19px;
        color: #fff;
        font-size: 50px;
        text-transform: uppercase;
    }

    .sign-up-btn {
        display: inline-block;
        padding: 8px 40px;
        color: #000;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: #fff;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
    }

.informations {
    margin: 98px 0 97px;
}

    .informations .content-4-list {
        margin: 0 auto 45px;
        text-align: center;
    }

    .informations .content-4-list li {
        display: inline-block;
        font-size: 20px;
        font-family: 'sans-bold',sans-serif;
        text-transform: uppercase;
    }

    .informations .content-4-list li.defis {
        padding: 0 22px;
    }

    .informations p {
        overflow: hidden;
        padding: 0 16%;
        height: 90px;
        text-align: center;
    }

.categories {
    overflow: hidden;
    margin-bottom: 120px;
}

    .category-block {
        float: left;
        margin-right: 30px;
        width: 360px;
        height: 468px;
    }

    .category-block:last-child {
        margin-right: 0;
    }

    .category-block.category-1 {
        background: url("../images/top-6.jpg") 0 0 no-repeat;
    }.category-block.category-2 {
        background: url("../images/top-7.jpg") 0 0 no-repeat;
    }.category-block.category-3 {
        background: url("../images/top-8.jpg") 0 0 no-repeat;
    }

     .category-block h3 {
         text-align: center;
         color: #fff;
         font-size: 80px;
         text-transform: uppercase;
         font-family: 'sans-extra-bold',sans-serif;
         line-height: 468px;
     }

.content-3 {
    overflow: hidden;
}

    .content-3 .img-block {
        position: relative;
        float: left;
    }

    .content-3 .img-block:after {
        content: "";
        position: absolute;
        right: -528px;
        top: 77px;
        width: 550px;
        height: 436px;
        background: #f6f6f6;
        z-index: -1;
    }

    .content-3 .text-block {
        float: right;
        width: 540px;
    }

    .content-3 .text-block h3 {
        margin: -7px 0 60px;
        font-size: 40px;
        text-align: right;
        line-height: 38px;
    }

    .content-3 .text-block h3 span {
        display: inline-block;
        margin-top: 25px;
        font-size: 60px;
    }

    .content-3 .text-block p {
        margin-bottom: 30px;
        width: 512px;
    }

/*
    footer
*/

footer .informations {
    margin-top: 142px;
}

footer .informations p {
    margin-bottom: 22px;
}

.social-links {
    text-align: center;
}

    .social-links li {
        display: inline-block;
    }

    .social-links li a {
        display: inline-block;
        margin: 0 8px;
        width: 38px;
        height: 38px;
    }

    .social-links li a.fb {
        background: url("../images/social-sprite.jpg") 2% 50% no-repeat;
    }.social-links li a.tw {
        background: url("../images/social-sprite.jpg") 26% 50% no-repeat;
    }.social-links li a.yt {
        background: url("../images/social-sprite.jpg") 50% 50% no-repeat;
    }.social-links li a.dr {
        background: url("../images/social-sprite.jpg") 74% 50% no-repeat;
    }.social-links li a.ig {
        background: url("../images/social-sprite.jpg") 98% 50% no-repeat;
    }